<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/adminLayout :: layout(~{::title}, ~{::section}, ~{::script})}">


<title>JDong's Blog</title>

<!-- Admin Page Wrapper -->
<section class="admin-wrapper">
    <!-- Left Siderbar -->
    <div class="left-sidebar">
        <ul>
            <li><a href="index.html">Manage Posts</a></li>
            <li><a href="../user/userList.html">Manage Users</a></li>
            <li><a href="../category/categoryList.html">Manage Topics</a></li>
        </ul>

    </div>
    <!-- // Left Sidebar End -->


    <!-- Admin Content -->
    <div class="admin-content">
        <div class="button-group">
            <a href="create.html" class="btn btn-big">Add Post</a>
            <a href="index.html" class="btn btn-big">Manage Posts</a>
        </div>
        <div>
            <form action="#" method="post">
                <select name="topic" id="topic" class="search-select">
                    <option value="title">제목</option>
                    <option value="content">내용</option>
                </select>
                <input type="text" class="search-input">
                <button type="submit" class="btn btn-big">Search</button>
            </form>
        </div>

        <div class="content">
            <h2 class="page-title">Manage Posts</h2>

            <table>
                <thead>
                <th>SN</th>
                <th>Title</th>
                <th>Author</th>
                <th colspan="3">Action</th>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>
                        <div>
                            This is the first post
                        </div>
                        <div>
                            <span class="table-category">Java</span>
                            <span class="table-date">2013.05.19</span>
                        </div>
                    </td>
                    <td>Awa</td>
                    <td><a href="#" class="edit">edit</a></td>
                    <td><a href="#" class="delete">delete</a></td>
                    <td><a href="#" class="publish">publish</a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>
                        <div>
                            This is the second post
                        </div>
                        <div>
                            <span class="table-category">Java</span>
                            <span class="table-date">2013.05.19</span>
                        </div>
                    </td>
                    <td>Awa</td>
                    <td><a href="#" class="edit">edit</a></td>
                    <td><a href="#" class="delete">delete</a></td>
                    <td><a href="#" class="publish">publish</a></td>
                </tr>
                </tbody>
            </table>
        </div>

        <ul class="pagination justify-content-center">
            <li class="page-item" >
                <a class="page-link" href="#">
                    <i class="fas fa-chevron-left prev"></i>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item" >
                <a class="page-link" href="#">
                    <i class="fas fa-chevron-right next"></i>
                </a>
            </li>
        </ul>
    </div>

</section>
<!-- // Page Wrapper End -->

<!-- Slick Carousel -->
<script></script>
</html>