<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/adminLayout :: adminLayout(~{::title}, ~{::section}, ~{::script})}">


<title>JDong's Blog</title>

<!-- Admin Page Wrapper -->
<section>
    <div style="margin-bottom: 100px"></div>

    <div class="recent-cards mt-5 ms-4 me-4">
        <div class="cards-container container p-0" id="infiniteScrollBox">
            <h1 class="text-center">ALL</h1>
            <hr>
            <div id="articlePage-0" class="row col-12">
                <div class="col-1 mb-3 align-self-center">
                    <h4 class="text-center"> 1 </h4>
                </div>
                <div class="card col-9 mb-3 recent-card wow">
                    <a th:href="@{/article/view}">
                        <div class="row g-0">
                            <div class="col-3">
                                <div class="ratio ratio-1x1"
                                     th:style="|background-image: url('/iamges/logo.png'); background-position: center; background-size: cover;|"></div>
                            </div>
                            <div class="col-9 row row-cols-1 align-self-center">
                                <h3 class="card-title col mb-3 text-truncate">글 제목</h3>
                                <p class="d-none d-md-block col recent-card-text">글 내용</p>
                                <p class="col mb-0">
                                    <small class="text-muted"
                                           th:text="|작성일 :|"></small>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-2 mb-3 align-self-center d-md-block">
                    <a href="/" class="btn btn-outline-secondary bg-light pt-5 pb-5">qwd</a>
                    <a href="/" class="btn btn-outline-secondary bg-light pt-5 pb-5">qwd</a>
                </div>
            </div>
            <div id="articlePage-1" class="row col-12">
                <div class="col-1 mb-3 align-self-center">
                    <h4 class="text-center"> 1 </h4>
                </div>
                <div class="card col-9 mb-3 recent-card wow fadeInUp">
                    <a th:href="@{/article/view}">
                        <div class="row g-0">
                            <div class="col-3">
                                <div class="ratio ratio-1x1"
                                     th:style="|background-image: url('/iamges/logo.png'); background-position: center; background-size: cover;|"></div>
                            </div>
                            <div class="col-9 row row-cols-1 align-self-center">
                                <h3 class="card-title col mb-3 text-truncate">글 제목</h3>
                                <p class="d-none d-md-block col recent-card-text">글 내용</p>
                                <p class="col mb-0">
                                    <small class="text-muted"
                                           th:text="|작성일 :|"></small>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-2 mb-3 align-self-center">
                    <a href="/" class="btn btn-outline-secondary bg-light pt-5 pb-5">qwd</a>
                    <a href="/" class="btn btn-outline-secondary bg-light pt-5 pb-5">qwd</a>
                </div>
            </div>
            <div id="articlePage-2" class="row col-12">
                <div class="col-1 mb-3 align-self-center">
                    <h4 class="text-center"> 1 </h4>
                </div>
                <div class="card col-9 mb-3 recent-card wow fadeInUp">
                    <a th:href="@{/article/view}">
                        <div class="row g-0">
                            <div class="col-3">
                                <div class="ratio ratio-1x1"
                                     th:style="|background-image: url('/iamges/logo.png'); background-position: center; background-size: cover;|"></div>
                            </div>
                            <div class="col-9 row row-cols-1 align-self-center">
                                <h3 class="card-title col mb-3 text-truncate">글 제목</h3>
                                <p class="d-none d-md-block col recent-card-text">글 내용</p>
                                <p class="col mb-0">
                                    <small class="text-muted"
                                           th:text="|작성일 :|"></small>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-2 mb-3 align-self-center">
                    <a href="/" class="col btn btn-outline-secondary bg-white pt-5 pb-5 shadow-sm">qwd</a>
                    <a href="/" class="col btn btn-outline-secondary bg-white pt-5 pb-5 shadow-sm">qwd</a>
                </div>
            </div>
            <!--     infinityScroll     -->
            <div id="nextPagination"></div>

        </div>
    </div>



<!--    &lt;!&ndash; Admin Content &ndash;&gt;-->
<!--    <div class="admin-content">-->
<!--        <div class="button-group">-->
<!--            <a href="create.html" class="btn btn-big">Add Post</a>-->
<!--            <a href="index.html" class="btn btn-big">Manage Posts</a>-->
<!--        </div>-->
<!--        <div>-->
<!--            <form action="#" method="post">-->
<!--                <select name="topic" id="topic" class="search-select">-->
<!--                    <option value="title">제목</option>-->
<!--                    <option value="content">내용</option>-->
<!--                </select>-->
<!--                <input type="text" class="search-input">-->
<!--                <button type="submit" class="btn btn-big">Search</button>-->
<!--            </form>-->
<!--        </div>-->

<!--        <div class="content">-->
<!--            <h2 class="page-title">Manage Posts</h2>-->

<!--            <table>-->
<!--                <thead>-->
<!--                <th>SN</th>-->
<!--                <th>Title</th>-->
<!--                <th>Author</th>-->
<!--                <th colspan="3">Action</th>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr>-->
<!--                    <td>1</td>-->
<!--                    <td>-->
<!--                        <div>-->
<!--                            This is the first post-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <span class="table-category">Java</span>-->
<!--                            <span class="table-date">2013.05.19</span>-->
<!--                        </div>-->
<!--                    </td>-->
<!--                    <td>Awa</td>-->
<!--                    <td><a href="#" class="edit">edit</a></td>-->
<!--                    <td><a href="#" class="delete">delete</a></td>-->
<!--                    <td><a href="#" class="publish">publish</a></td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>2</td>-->
<!--                    <td>-->
<!--                        <div>-->
<!--                            This is the second post-->
<!--                        </div>-->
<!--                        <div>-->
<!--                            <span class="table-category">Java</span>-->
<!--                            <span class="table-date">2013.05.19</span>-->
<!--                        </div>-->
<!--                    </td>-->
<!--                    <td>Awa</td>-->
<!--                    <td><a href="#" class="edit">edit</a></td>-->
<!--                    <td><a href="#" class="delete">delete</a></td>-->
<!--                    <td><a href="#" class="publish">publish</a></td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->
<!--        </div>-->

<!--        <ul class="pagination justify-content-center">-->
<!--            <li class="page-item" >-->
<!--                <a class="page-link" href="#">-->
<!--                    <i class="fas fa-chevron-left prev"></i>-->
<!--                </a>-->
<!--            </li>-->
<!--            <li class="page-item"><a class="page-link" href="#">1</a></li>-->
<!--            <li class="page-item"><a class="page-link" href="#">2</a></li>-->
<!--            <li class="page-item"><a class="page-link" href="#">3</a></li>-->
<!--            <li class="page-item" >-->
<!--                <a class="page-link" href="#">-->
<!--                    <i class="fas fa-chevron-right next"></i>-->
<!--                </a>-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->

</section>
<!-- // Page Wrapper End -->

<!-- Slick Carousel -->
<script></script>
</html>