<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/adminLayout :: adminLayout(~{::title}, ~{::section}, ~{::script})}">


<title>JDong's Blog</title>

<!-- Admin Page Wrapper -->
<section>
    <div style="margin-bottom: 100px"></div>

    <div class="recent-cards mt-5 ms-4 me-4">
        <div class="cards-container container p-0" id="infiniteScrollBox">
            <h1 class="text-center">ALL</h1>
            <hr>
            <div id="articlePage-0" class="row col-12">
                <div class="col-1 mb-3 align-self-center">
                    <h4 class="text-center"> 1 </h4>
                </div>
                <div class="card col-9 mb-3 recent-card wow">
                    <a th:href="@{/article/view}">
                        <div class="row g-0">
                            <div class="col-3">
                                <div class="ratio ratio-1x1"
                                     th:style="|background-image: url('/iamges/logo.png'); background-position: center; background-size: cover;|"></div>
                            </div>
                            <div class="col-9 row row-cols-1 align-self-center">
                                <h3 class="card-title col mb-3 text-truncate">글 제목</h3>
                                <p class="d-none d-md-block col recent-card-text">글 내용</p>
                                <p class="col mb-0">
                                    <small class="text-muted"
                                           th:text="|작성일 :|"></small>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-2 mb-3 align-self-center d-md-block">
                    <a href="/" class="btn btn-outline-secondary bg-light pt-5 pb-5">qwd</a>
                    <a href="/" class="btn btn-outline-secondary bg-light pt-5 pb-5">qwd</a>
                </div>
            </div>
            <div id="articlePage-1" class="row col-12">
                <div class="col-1 mb-3 align-self-center">
                    <h4 class="text-center"> 1 </h4>
                </div>
                <div class="card col-9 mb-3 recent-card wow fadeInUp">
                    <a th:href="@{/article/view}">
                        <div class="row g-0">
                            <div class="col-3">
                                <div class="ratio ratio-1x1"
                                     th:style="|background-image: url('/iamges/logo.png'); background-position: center; background-size: cover;|"></div>
                            </div>
                            <div class="col-9 row row-cols-1 align-self-center">
                                <h3 class="card-title col mb-3 text-truncate">글 제목</h3>
                                <p class="d-none d-md-block col recent-card-text">글 내용</p>
                                <p class="col mb-0">
                                    <small class="text-muted"
                                           th:text="|작성일 :|"></small>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-2 mb-3 align-self-center">
                    <a href="/" class="btn btn-outline-secondary bg-light pt-5 pb-5">qwd</a>
                    <a href="/" class="btn btn-outline-secondary bg-light pt-5 pb-5">qwd</a>
                </div>
            </div>
            <div id="articlePage-2" class="row col-12">
                <div class="col-1 mb-3 align-self-center">
                    <h4 class="text-center"> 1 </h4>
                </div>
                <div class="card col-9 mb-3 recent-card wow fadeInUp">
                    <a th:href="@{/article/view}">
                        <div class="row g-0">
                            <div class="col-3">
                                <div class="ratio ratio-1x1"
                                     th:style="|background-image: url('/iamges/logo.png'); background-position: center; background-size: cover;|"></div>
                            </div>
                            <div class="col-9 row row-cols-1 align-self-center">
                                <h3 class="card-title col mb-3 text-truncate">글 제목</h3>
                                <p class="d-none d-md-block col recent-card-text">글 내용</p>
                                <p class="col mb-0">
                                    <small class="text-muted"
                                           th:text="|작성일 :|"></small>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-2 mb-3 align-self-center">
                    <a href="/" class="col btn btn-outline-secondary bg-white pt-5 pb-5 shadow-sm">qwd</a>
                    <a href="/" class="col btn btn-outline-secondary bg-white pt-5 pb-5 shadow-sm">qwd</a>
                </div>
            </div>

            <div id="nextPagination"></div>
        </div>
    </div>

</section>
<!-- // Page Wrapper End -->

<!-- Slick Carousel -->
<script></script>
</html>