<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/adminLayout :: adminLayout(~{::title}, ~{::section}, ~{::script})}">


<title>JDong's Blog</title>

<section>

    <div style="margin-bottom: 100px"></div>

    <div class="recent-cards mt-5 ms-4 me-4">
        <div class="cards-container container p-0" id="infiniteScrollBox">
            <h1 class="text-center">카테고리 명</h1>
            <hr>
            <div id="articlePage-0">
                <div class="card mb-3 recent-card wow fadeInUp">
                    <a th:href="@{/article/view}">
                        <div class="row g-0">
                            <div class="col-3">
                                <div class="ratio ratio-1x1"
                                     th:style="|background-image: url('iamges/logo.png'); background-position: center; background-size: cover;|"></div>
                            </div>
                            <div class="col-9 row row-cols-1 align-self-center">
                                <h3 class="card-title col mb-3 text-truncate">글 제목</h3>
                                <p class="d-none d-md-block col recent-card-text">글 내용</p>
                                <p class="col mb-0">
                                    <small class="text-muted"
                                           th:text="|작성일 :|"></small>
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!--     infinityScroll     -->
            <div id="nextPagination"></div>

        </div>
    </div>



</section>

<!-- Slick Carousel -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

</html>