<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      th:replace="~{/layout/layout :: layout(~{::title}, ~{::section}, ~{::script})}">


<title>JDong's Blog</title>

<section>

        <div class="main ">
            <div class="carousel-inner ">
                <div class="carousel-item active" style="cursor: default" id="article-id" th:value="${articleDetailResponse.id}">
                    <img th:src="${articleDetailResponse.thumbnailUrl}" class="w-100 vh-100 cover main-image"
                         alt="...">
                    <div class="card-img-overlay text-shadow text-white text-center row justify-content-center align-content-center p-0">
                        <h1 style="font-size: 2.5rem;" th:text="${articleDetailResponse.title}">아티클 제목</h1>
                        <h5 th:text="|작성일 : ${#temporals.format(articleDetailResponse.createDate, 'yyyy-MM-dd HH:mm')}|">작성일</h5>
                    </div>
                </div>
            </div>

            <div class="mt-5 ms-2 me-2 ms-sm-5 me-sm-5 mt-sm-5 d-flex justify-content-center">

                <div class="paper">

                    <div class="container p-3 p-sm-5">
                        <div class="toastui-editor-contents"
                             th:utext="${articleDetailResponse.content}">
                            내요오오오오옹
                            내요오오오오옹
                            내요오오오오옹
                            내요오오오오옹
                            내요오오오오옹
                            내요오오오오옹
                            내요오오오오옹
                            내요오오오오옹
                            내요오오오오옹
                            내요오오오오옹
                        </div>
                    </div>

                    <div class="ms-2 me-2 mb-3 p-sm-4 p-2">
                        <div class="toolbox container pt-4 pb-4">
                            <div class=" ms-5 me-5 d-flex justify-content-end">
                                <a class="btn btn-secondary" style="color: white"
                                   type="button">수 정
                                </a>
                                <form id="deleteArticle"
                                      method="post">
                                </form>
                                <button class="btn btn-secondary ms-2"
                                        onclick="deleteArticle()">삭 제
                                </button>

                                <button class="btn btn-secondary ms-2" data-bs-toggle="modal"
                                        data-bs-target="#shareContent">
                                    <i class="fas fa-share-alt"></i></button>

                                <button class="btn btn-secondary ms-2" data-bs-toggle="modal"
                                        data-bs-target="#shareContent">
                                    <i class="fas fa-share-alt"></i></button>

                                <div class="modal fade " id="shareContent" tabindex="-1" aria-labelledby="shareContent"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="shareContentModalLabel">공유하기</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="list-unstyled social-icon-wrap d-flex justify-content-around">
                                                    <a class="social-icon link-icon-facebook">
                                                        <i class=" fa fa-facebook"></i>
                                                    </a>
                                                    <a class="social-icon link-icon-kakao">
                                                        <i class="fa fa-comment"></i>
                                                    </a>
                                                    <a class="social-icon link-icon-naver">
                                                    </a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div></div>
                            <div class="toolbox-head mt-3 ms-5 me-5">
                                <a th:text="${articleDetailResponse.category}">카테고리</a>
                                <span></span></div>
                            <ul class="row row-cols-1 row-cols-sm-2 mt-2 ms-5 me-5 toolList">

                                <th:block th:each="simpleArticle : ${articleDetailResponse.simpleArticles}">
                                    <li class="col text-block otherArticle">
                                        <a th:href="@{/article/{articleId}(articleId=${simpleArticle.id})}"
                                           th:text="${simpleArticle.title}">글목록</a>
                                    </li>
                                </th:block>

                            </ul>
                            <div class="mt-2 ms-5 me-5">
                                <a class="me-2" th:each="tag : ${articleDetailResponse.tags}"
                                   th:href="@{/article-tag(tag=${tag})}">
                                    <button class="badge rounded-pill bg-secondary" th:text="${tag}">태그</button>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>


            </div>


            <!-- comment s -->
            <hr class="py-1" style="color: rgb(212, 200, 184);">

            <div class="container mt-2 mb-5" style="max-width: 1200px;">

                <div class="ms-2 me-2 mt-3 d-flex align-items-center">
                    <div sec:authorize="isAuthenticated()">
                        <img th:src="${#authentication.principal.getThumbnailUrl()}" width="50"
                             height="50"
                             class="rounded-circle me-2">
                    </div>

                    <div sec:authorize="isAnonymous()">
                        <img src="/images/guest.png" width="50"
                             height="50"
                             class="rounded-circle me-2">
                    </div>
                    <textarea type="text" id="comment-content"
                              class="form-control"></textarea>
                </div>
                <div class="d-flex">

                    <div class="ms-1 mt-2 secretBox">
                        <label class="lock">
                            <input type="checkbox" id="comment-secret" value="secret"/>
                            <span></span>
                            <small id="parent-content-error" class="ms-3 text-danger"></small>
                        </label>
                    </div>

                    <div class="ms-auto mt-2 me-2">
                        <button class="btn btn-secondary btn-sm" id="comment-save">등 록</button>
                    </div>
                </div>

                <div class="row justify-content-center align-items-center g-0 wow fadeInUp p-2">
                    <div class="col">
                        <div id="commentContainer">

                            <div class="mt-2 comment-box" id="commentBox">

                                <th:block th:each="comment : ${commentList}">
                                    <div class="d-flex flex-row p-2">
                                        <div>
                                            <img th:src="${comment.userPictureUrl}"
                                                 width="40" height="40" class="rounded-circle me-2" alt="">
                                        </div>
                                        <div class="w-100">
                                            <div class="d-flex justify-content-between align-items-center" th:id="|comment${comment.id}">
                                                <span th:text="${comment.username}" class="me-2">유저이름</span>
                                                <div class="d-flex flex-row align-items-center">
                                                    <small th:text="${#temporals.format(comment.createDate, 'yyyy-MM-dd HH:mm')}">22-06-27 17:21:34</small>
                                                    <th:block sec:authorize="isAuthenticated()">
                                                        <!-- todo - 댓글 수정 기능 이후에 추가 -->
<!--                                                        <button class="btn p-0 m-0 fas fa-wrench ms-3 comment-modify"-->
<!--                                                                th:if="${#authentication.principal.getMemberId} == ${comment.memberId}"-->
<!--                                                                th:value="${comment.id}" title="댓글 수정">-->
<!--                                                        </button>-->
                                                        <button th:if="${#authentication.principal.getMemberId} == ${comment.memberId}"
                                                                th:value="${comment.id}" class="btn p-0 m-0 fas fa-trash ms-3 comment-delete" title="댓글 삭제">
                                                        </button>
                                                    </th:block>
                                                </div>
                                            </div>

                                            <!-- 댓글, 비밀 댓글 분기처리 -->
                                            <th:block sec:authorize="hasRole('ROLE_ADMIN')" th:if="${comment.secret}">
                                                <p class="text-justify comment-text mb-0" style="white-space:pre-wrap;"><i class="fa fa-lock me-1" aria-hidden="true"></i>[[${comment.content}]]</p>
                                            </th:block>
                                            <th:block sec:authorize="hasRole('ROLE_USER')" th:if="${comment.secret}">
                                                <p class="text-justify comment-text mb-0" style="white-space:pre-wrap;"
                                                   th:if="${#authentication.principal.getMemberId} == ${comment.memberId}"
                                                   ><i class="fa fa-lock me-1" aria-hidden="true"></i>[[${comment.content}]]</p>
                                                <p class="text-justify comment-text mb-0" style="white-space:pre-wrap;"
                                                   th:unless="${#authentication.principal.getMemberId} == ${comment.memberId}"><i class="fa fa-lock me-1" aria-hidden="true"></i> 비밀 댓글</p>
                                            </th:block>
                                            <th:block sec:authorize="isAnonymous()" th:if="${comment.secret}">
                                                <p class="text-justify comment-text mb-0 mt-2" style="white-space:pre-wrap;"><i class="fa fa-lock me-1" aria-hidden="true"></i>비밀 댓글</p>
                                            </th:block>
                                            <p th:unless="${comment.secret}" th:text="${comment.content}" class="text-justify comment-text mb-0" style="white-space:pre-wrap;">댓글 내용</p>
                                            <!-- 비밀글 분기처리 end-->

                                            <div class="comment-reply">
                                                <div style="background-color: #ebebeb;">
                                                    <button class="btn align-items-center rounded collapsed"
                                                            data-bs-toggle="collapse" th:data-bs-target="'#parentComment' + ${comment.id}">
                                                        <i class="fa fa-comments-o me-2" aria-hidden="true"></i> 댓글작성
                                                    </button>
                                                </div>

                                                <div class="collapse" th:id="|parentComment${comment.id}|" style="">
                                                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                                        <li>
                                                            <div class="mt-3 d-flex flex-row align-items-center p-2 form-color">
                                                                <div>
                                                                </div>
                                                                <textarea class="form-control" th:id="|child-comment-content${comment.id}|"></textarea>
                                                            </div>

                                                            <div class="d-flex">

                                                                <div class="ms-1 mt-2 secretBox">
                                                                    <label class="lock">
                                                                        <input type="checkbox" th:id="|child-comment-secret${comment.id}|" value="true">
                                                                        <span></span>
                                                                        <small th:id="|child-content-error${comment.id}|" class="ms-3 text-danger"></small>
                                                                    </label>
                                                                </div>

                                                                <div class="ms-auto ms-1 me-2">
                                                                    <button th:value="${comment.id}" class="btn btn-sm btn-secondary child-comment-save">등 록</button>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <th:block th:each="childComment : ${comment.childComments}">
                                                <div class="d-flex flex-row p-2">
                                                    <div>
                                                        <img th:src="${childComment.picUrl}"
                                                             width="40" height="40" class="rounded-circle me-2" alt="">
                                                    </div>
                                                    <div class="w-100">
                                                        <div class="d-flex justify-content-between align-items-center" th:id="|comment${childComment.id}">
                                                            <span th:text="${childComment.username}" class="me-2">유저 아이디</span>
                                                            <div class="d-flex flex-row align-items-center">
                                                                <small th:text="${#temporals.format(childComment.createDate, 'yyyy-MM-dd HH:mm')}">22-06-27 17:30:36</small>
                                                                <th:block sec:authorize="isAuthenticated()">
                                                                    <!-- todo - 댓글 수정 기능 이후에 추가 -->
<!--                                                                    <button class="btn p-0 m-0 fas fa-wrench ms-3 comment-modify"-->
<!--                                                                            th:if="${#authentication.principal.getMemberId} == ${childComment.memberId}"-->
<!--                                                                            th:value="${childComment.id}" title="댓글 수정">-->
<!--                                                                    </button>-->
                                                                    <button th:if="${#authentication.principal.getMemberId} == ${childComment.memberId}"
                                                                            th:value="${childComment.id}" class="btn p-0 m-0 fas fa-trash ms-3 comment-delete" title="댓글 삭제">
                                                                    </button>
                                                                </th:block>
                                                            </div>
                                                        </div>

                                                        <!-- 비밀글 분기처리 -->
                                                        <th:block sec:authorize="hasRole('ROLE_ADMIN')" th:if="${childComment.secret}">
                                                            <p class="text-justify comment-text mb-0" style="white-space:pre-wrap;"><i class="fa fa-lock me-1" aria-hidden="true"></i>[[${childComment.content}]]</p>
                                                        </th:block>
                                                        <th:block sec:authorize="hasRole('ROLE_USER')" th:if="${childComment.secret}">
                                                            <p class="text-justify comment-text mb-0" style="white-space:pre-wrap;"
                                                               th:if="${#authentication.principal.getMemberId} == ${childComment.memberId}"
                                                               ><i class="fa fa-lock me-1" aria-hidden="true"></i>[[${comment.content}]]</p>
                                                            <p class="text-justify comment-text mb-0" style="white-space:pre-wrap;"
                                                               th:unless="${#authentication.principal.getMemberId} == ${childComment.memberId}"><i class="fa fa-lock me-1" aria-hidden="true"></i> 비밀 댓글</p>
                                                        </th:block>
                                                        <th:block sec:authorize="isAnonymous()" th:if="${childComment.secret}">
                                                            <p class="text-justify comment-text mb-0" style="white-space:pre-wrap;"><i class="fa fa-lock me-1" aria-hidden="true"></i>비밀 댓글</p>
                                                        </th:block>
                                                        <p th:unless="${childComment.secret}" th:text="${childComment.content}" class="text-justify comment-text mb-0" style="white-space:pre-wrap;">댓글 내용</p>
                                                        <!-- 비밀글 분기처리 end -->
                                                    </div>
                                                </div>
                                                </th:block>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="border-top my-3"></div>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>


            </div>

    </div>
</section>

<!-- Slick Carousel -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script src="/js/csrf.js"></script>
<script src="/js/comment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.0/moment.min.js"></script>
</html>