<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout :: layout(~{::title}, ~{::section}, ~{::script})}">


<title>JDong's Blog</title>

<!-- Admin Page Wrapper -->
<section>
    <div style="margin-bottom: 100px"></div>

    <div class="recent-cards mt-5 ms-4 me-4">
        <div class="cards-container container p-0" id="infiniteScrollBox">
            <h1 th:if="${param.categoryTitle}"
                th:text="|${param.categoryTitle} (${articleCardBoxList.totalElements})|" class="text-center">ALL</h1>
            <h1 th:if="${param.keyword}"
                th:text="| '${param.keyword}' 의 검색 결과(${articleCardBoxList.totalElements})|" class="text-center">Category</h1>
            <h1 th:if="${param.tag}"
                th:text="| '${param.tag}' 관련 게시물(${articleCardBoxList.totalElements})|" class="text-center">Tag</h1>

            <hr>
            <div id="articlePage-0">
                <th:block th:each="articleCardBox :${articleCardBoxList}">

                    <div class="card mb-3 recent-card wow fadeInUp">
                        <a th:href="@{/article/{articleId}(articleId=${articleCardBox.id})}">

                            <div class="row g-0">
                                <div class="col-1 mb-3 align-self-center">
                                    <h4 class="text-center" th:text="${articleCardBox.id}"> 1 </h4>
                                </div>
                                <div class="col-3">
                                    <div class="ratio ratio-1x1"
                                         th:style="|background-image: url(${articleCardBox.thumbnailUrl}); background-position: center; background-size: cover;|">
                                    </div>
                                </div>
                                <div class="col-8 row row-cols-1 align-self-center">
                                    <h3 class="card-title col mb-3 text-truncate" th:text="${articleCardBox.title}">글 제목</h3>
                                    <p class="d-none d-md-block col recent-card-text"
                                       th:text="${articleCardBox.content}">글 내용</p>
                                    <p class="col mb-0">
                                        <small class="text-muted"
                                               th:text="|작성일 : ${#temporals.format(articleCardBox.createDate, 'yyyy-MM-dd HH:mm')}|"></small>
                                    </p>
                                </div>

                            </div>
                        </a>
                    </div>
                </th:block>
            </div>


        </div>

        <!-- page s -->
        <div class="pagination-section mt-4">
            <nav class="pagination-outer" aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" aria-label="First"
                           th:href="@{/article(categoryTitle=${param.categoryTitle}, page=0)}"
                           th:if="${pageDto.currentPageNum} > 4 and ${param.categoryTitle}">
                            <span> « </span>
                        </a>
                        <a class="page-link" aria-label="First"
                           th:href="@{/article-search(keyword=${param.keyword}, page=0)}"
                           th:if="${pageDto.currentPageNum} > 4 and ${param.keyword}">
                            <span> « </span>
                        </a>
                        <a class="page-link" aria-label="First"
                           th:href="@{/article-tag(tag=${param.tag}, page=0)}"
                           th:if="${pageDto.currentPageNum} > 4 and ${param.tag}">
                            <span> « </span>
                        </a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" aria-label="Previous"
                           th:href="@{/article(categoryTitle=${param.categoryTitle}, page=${pageDto.currentPageNum - 5})}"
                           th:if="${articleCardBoxList.number} > 4 and ${param.categoryTitle}">
                            <span> < </span>
                        </a>
                        <a class="page-link" aria-label="Previous"
                           th:href="@{/article-search(keyword=${param.keyword}, page=${pageDto.currentPageNum - 5})}"
                           th:if="${articleCardBoxList.number} > 4 and ${param.keyword}">
                            <span> < </span>
                        </a>
                        <a class="page-link" aria-label="Previous"
                           th:href="@{/article-tag(tag=${param.tag}, page=${pageDto.currentPageNum - 5})}"
                           th:if="${articleCardBoxList.number} > 4 and ${param.tag}">
                            <span> < </span>
                        </a>
                    </li>

                    <th:block th:each="page : ${#numbers.sequence(pageDto.startPageNum, pageDto.endPageNum)}">
                        <li th:classappend="${page == pageDto.currentPageNum} ? 'active'"
                            class="page-item">
                            <a th:text="${page + 1}" class="page-link"
                               th:if="${param.categoryTitle}"
                               th:href="@{/article(categoryTitle=${param.categoryTitle}, page=${page})}"></a>
                            <a th:text="${page + 1}" class="page-link"
                               th:if="${param.keyword}"
                               th:href="@{/article-search(keyword=${param.keyword}, page=${page})}"></a>
                            <a th:text="${page + 1}" class="page-link"
                               th:if="${param.tag}"
                               th:href="@{/article-tag(tag=${param.tag}, page=${page})}"></a>
                        </li>
                    </th:block>
                    <li class="page-item">
                        <a class="page-link" aria-label="Next"
                           th:href="@{/article(categoryTitle=${param.categoryTitle}, page=${pageDto.currentPageNum + 5})}"
                           th:if="${pageDto.endPageNum < pageDto.lastPageNum} and ${pageDto.currentPageNum + 5 < pageDto.lastPageNum} and ${param.categoryTitle}">
                            <span aria-hidden="true"> > </span>
                        </a>
                        <a class="page-link" aria-label="Next"
                           th:href="@{/article-search(keyword=${param.keyword}, page=${pageDto.currentPageNum + 5})}"
                           th:if="${pageDto.endPageNum < pageDto.lastPageNum} and ${pageDto.currentPageNum + 5 < pageDto.lastPageNum} and ${param.keyword}">
                            <span aria-hidden="true"> > </span>
                        </a>
                        <a class="page-link" aria-label="Next"
                           th:href="@{/article-tag(tag=${param.tag}, page=${pageDto.currentPageNum + 5})}"
                           th:if="${pageDto.endPageNum < pageDto.lastPageNum} and ${pageDto.currentPageNum + 5 < pageDto.lastPageNum} and ${param.tag}">
                            <span aria-hidden="true"> > </span>
                        </a>

                        <a class="page-link" aria-label="Next"
                           th:href="@{/article(categoryTitle=${param.categoryTitle}, page=${pageDto.lastPageNum})}"
                           th:if="${pageDto.endPageNum < pageDto.lastPageNum} and ${pageDto.currentPageNum + 5 > pageDto.lastPageNum} and ${param.categoryTitle}">
                            <span aria-hidden="true"> > </span>
                        </a>
                        <a class="page-link" aria-label="Next"
                           th:href="@{/article-search(keyword=${param.keyword}, page=${pageDto.lastPageNum})}"
                           th:if="${pageDto.endPageNum < pageDto.lastPageNum} and ${pageDto.currentPageNum + 5 > pageDto.lastPageNum} and ${param.keyword}">
                            <span aria-hidden="true"> > </span>
                        </a>
                        <a class="page-link" aria-label="Next"
                           th:href="@{/article-tag(tag=${param.tag}, page=${pageDto.lastPageNum})}"
                           th:if="${pageDto.endPageNum < pageDto.lastPageNum} and ${pageDto.currentPageNum + 5 > pageDto.lastPageNum} and ${param.tag}">
                            <span aria-hidden="true"> > </span>
                        </a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" aria-label="Last"
                           th:href="@{/article(categoryTitle=${param.categoryTitle}, page=${pageDto.lastPageNum})}"
                           th:if="${pageDto.endPageNum < pageDto.lastPageNum} and ${param.categoryTitle}">
                            <span aria-hidden="true">»</span>
                        </a>
                        <a class="page-link" aria-label="Last"
                           th:href="@{/article-search(keyword=${param.keyword}, page=${pageDto.lastPageNum})}"
                           th:if="${pageDto.endPageNum < pageDto.lastPageNum} and ${param.keyword}">
                            <span aria-hidden="true">»</span>
                        </a>
                        <a class="page-link" aria-label="Last"
                           th:href="@{/article-tag(tag=${param.tag}, page=${pageDto.lastPageNum})}"
                           th:if="${pageDto.endPageNum < pageDto.lastPageNum} and ${param.tag}">
                            <span aria-hidden="true">»</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <!--page e-->
    </div>
</section>
<!-- // Page Wrapper End -->

<!-- Slick Carousel -->
<script></script>
</html>