<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<th:block th:fragment="header">
    <header class="fixed-top d-xxl-none p-0">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid p-0">
                <button class="btn" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu"
                        aria-controls="offcanvasMenu">
                    <i class="fas fa-bars"></i>
                </button>
                <div id="nav-brand" class="nav-brand">
                    <a th:href="@{/}">JDong's Blog</a>
                </div>
                <div id="nav-login" sec:authorize="isAnonymous()">
                    <a th:href="@{/login}"><span class="pe-2">로그인</span></a>
                </div>
                <div sec:authorize="isAuthenticated()" class="pe-2">
                    <span th:text="${#authentication.name} + '님'"></span>
                    <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin/article(categoryTitle=ALL)}">
                        <span style="font-size: 21px"><i class="fas fa-edit"></i></span>
                    </a>
                </div>
            </div>
        </nav>

        <aside class="offcanvas offcanvas-start " data-bs-scroll="true" style="max-width: 300px;" tabindex="-1"
               id="offcanvasMenu" aria-labelledby="offcanvasLabel">
            <div class="offcanvas-header bg-light">
                <button class="btn btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <div class="offcanvas-body bg-light">
                <div th:replace="fragments/sideBar.html :: sideBar"></div>
            </div>
        </aside>
    </header>
</th:block>
</html>