<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="header">
    <header class="fixed-top d-xxl-none p-0">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid p-0">
                <button class="btn" data-bs-toggle="offcanvas" data-bs-target="#offcanvasMenu"
                        aria-controls="offcanvasMenu">
                    <i class="fas fa-bars"></i>
                </button>
                <div id="nav-brand" class="nav-brand">
                    <a th:href="@{/}">Jinia's LOG</a>
                </div>
                <div id="nav-login">
                    <a th:href="@{/login}"><span class="pe-2">로그인</span></a>
                </div>
<!--                <div class="pe-2">-->
<!--                    <span>조윤호님</span>-->
<!--                    <a th:href="@{/article/write}">-->
<!--                        <span style="font-size: 21px"><i class="fas fa-edit"></i></span>-->
<!--                    </a>-->
<!--                </div>-->
            </div>
        </nav>

        <aside class="offcanvas offcanvas-start " data-bs-scroll="true" style="max-width: 300px;" tabindex="-1"
               id="offcanvasMenu" aria-labelledby="offcanvasLabel">
            <div class="offcanvas-header bg-light">
                <button class="btn btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>

            <div class="offcanvas-body bg-light">
                <div th:replace="fragments/sideBar.html :: sideBar"></div>
            </div>
        </aside>
    </header>
</th:block>
</html>