<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout :: layout(~{::title}, ~{::section}, ~{::script})}">


<title>JDong's Blog</title>

<section>
<!--  -->
<!--  <div class="main-view">-->
<!--    <a href="#">메인 페이지</a>-->
<!--  </div>-->

<!--  &lt;!&ndash; Page Wrapper &ndash;&gt;-->
<!--  <div class="page-wrapper">-->

<!--    &lt;!&ndash; Poge Slider &ndash;&gt;-->
<!--    <div class="post-slider">-->
<!--      <h1 class="slider-title">Trending Posts</h1>-->
<!--      <i class="fas fa-chevron-left prev"></i>-->
<!--      <i class="fas fa-chevron-right next"></i>-->

<!--      <div class="post-wrapper">-->

<!--        <div class="post">-->
<!--          <img src="images/logo.png" alt="" class="slider-image">-->
<!--          <div class="post-info">-->
<!--            <h4><a href="single.html">One day your life will flash before your eyes</a></h4>-->
<!--            <i class="far fa-user">Awa Melvine</i>-->
<!--            &nbsp;-->
<!--            <i class="far fa-calender"> Mar 8, 2019</i>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="post">-->
<!--          <img src="images/logo.png" alt="" class="slider-image">-->
<!--          <div class="post-info">-->
<!--            <h4><a href="single.html">One day your life will flash before your eyes</a></h4>-->
<!--            <i class="far fa-user">Awa Melvine</i>-->
<!--            &nbsp;-->
<!--            <i class="far fa-calender"> Mar 8, 2019</i>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="post">-->
<!--          <img src="images/logo.png" alt="" class="slider-image">-->
<!--          <div class="post-info">-->
<!--            <h4><a href="single.html">One day your life will flash before your eyes</a></h4>-->
<!--            <i class="far fa-user">Awa Melvine</i>-->
<!--            &nbsp;-->
<!--            <i class="far fa-calender"> Mar 8, 2019</i>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="post">-->
<!--          <img src="images/logo.png" alt="" class="slider-image">-->
<!--          <div class="post-info">-->
<!--            <h4><a href="single.html">One day your life will flash before your eyes</a></h4>-->
<!--            <i class="far fa-user">Awa Melvine</i>-->
<!--            &nbsp;-->
<!--            <i class="far fa-calender"> Mar 8, 2019</i>-->
<!--          </div>-->
<!--        </div>-->

<!--        <div class="post">-->
<!--          <img src="images/logo.png" alt="" class="slider-image">-->
<!--          <div class="post-info">-->
<!--            <h4><a href="single.html">One day your life will flash before your eyes</a></h4>-->
<!--            <i class="far fa-user">Awa Melvine</i>-->
<!--            &nbsp;-->
<!--            <i class="far fa-calender"> Mar 8, 2019</i>-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->
<!--    </div>-->
<!--    &lt;!&ndash; // Page Slider End &ndash;&gt;-->

<!--    &lt;!&ndash; Content &ndash;&gt;-->
<!--    <div class="content clearfix">-->

<!--      &lt;!&ndash; ㅡMain Content &ndash;&gt;-->
<!--      <div class="main-content">-->
<!--        <h1 class="recent-post-title">Recent Posts</h1>-->

<!--        <div class="post clearfix">-->
<!--          <img src="images/logo.png" alt="" class="post-image">-->
<!--          <div class="post-preview">-->
<!--            <h2><a href="single.html">The Strongest and sweetest songs yet remain to be sung</a></h2>-->
<!--            <i class="far fa-user">Awa Melvine</i>-->
<!--            &nbsp;-->
<!--            <i class="far calendar"> Mar 11, 2019</i>-->
<!--            <p class="preview-text">-->
<!--              Lorem ipsum dolor sit amet consectetur, adipisicing elit,-->
<!--              Excercitationem optio possimus a inventore maxime laborum.-->
<!--            </p>-->
<!--            <a href="single.html" class="btn read-more">Read More</a>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="post clearfix">-->
<!--          <img src="images/logo.png" alt="" class="post-image">-->
<!--          <div class="post-preview">-->
<!--            <h2><a href="single.html">The Strongest and sweetest songs yet remain to be sung</a></h2>-->
<!--            <i class="far fa-user">Awa Melvine</i>-->
<!--            &nbsp;-->
<!--            <i class="far calendar"> Mar 11, 2019</i>-->
<!--            <p class="preview-text">-->
<!--              Lorem ipsum dolor sit amet consectetur, adipisicing elit,-->
<!--              Excercitationem optio possimus a inventore maxime laborum.-->
<!--            </p>-->
<!--            <a href="single.html" class="btn read-more">Read More</a>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="post clearfix">-->
<!--          <img src="images/logo.png" alt="" class="post-image">-->
<!--          <div class="post-preview">-->
<!--            <h2><a href="single.html">The Strongest and sweetest songs yet remain to be sung</a></h2>-->
<!--            <i class="far fa-user">Awa Melvine</i>-->
<!--            &nbsp;-->
<!--            <i class="far calendar"> Mar 11, 2019</i>-->
<!--            <p class="preview-text">-->
<!--              Lorem ipsum dolor sit amet consectetur, adipisicing elit,-->
<!--              Excercitationem optio possimus a inventore maxime laborum.-->
<!--            </p>-->
<!--            <a href="single.html" class="btn read-more">Read More</a>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="post clearfix">-->
<!--          <img src="images/logo.png" alt="" class="post-image">-->
<!--          <div class="post-preview">-->
<!--            <h2><a href="single.html">The Strongest and sweetest songs yet remain to be sung</a></h2>-->
<!--            <i class="far fa-user">Awa Melvine</i>-->
<!--            &nbsp;-->
<!--            <i class="far calendar"> Mar 11, 2019</i>-->
<!--            <p class="preview-text">-->
<!--              Lorem ipsum dolor sit amet consectetur, adipisicing elit,-->
<!--              Excercitationem optio possimus a inventore maxime laborum.-->
<!--            </p>-->
<!--            <a href="single.html" class="btn read-more">Read More</a>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      &lt;!&ndash; // Main Content End &ndash;&gt;-->

<!--      <div class="sidebar">-->
<!--        <div class="section search">-->
<!--          <h2 class="section-title">Search</h2>-->
<!--          <form action="index.html" method="post">-->
<!--            <input type="text" name="search-term" class="text-input" placeholder="Search...">-->
<!--          </form>-->
<!--        </div>-->

<!--        <div class="section topics">-->
<!--          <h2 class="seaction-title">Topics</h2>-->
<!--          <ul>-->
<!--            <li><a href="#">Poems</a></li>-->
<!--            <li><a href="#">Quotes</a></li>-->
<!--            <li><a href="#">Fiction</a></li>-->
<!--            <li><a href="#">Biography</a></li>-->
<!--            <li><a href="#">Motivation</a></li>-->
<!--            <li><a href="#">Inspiration</a></li>-->
<!--            <li><a href="#">Life Lessons</a></li>-->
<!--          </ul>-->
<!--        </div>-->

<!--      </div>-->
<!--    </div>-->

<!--  </div>-->
  <!-- // Page Wrapper End -->
</section>

<!-- Slick Carousel -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

</html>