<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      th:replace="~{/layout/layout :: layout(~{::title}, ~{::section}, ~{::script})}">


<title>JDong's Blog</title>

<section>
    <div id="carouselForMain" class="carousel slide carousel-fade" data-bs-ride="carousel">

        <!-- 상단 화면 -->
        <div class="carousel-inner">
            <div class="carousel-item mainItem"
                 th:each="popularArticle, num : ${popularArticleResponse}"
                 th:classappend="${num.index} == 0 ? 'active'">
                <a th:href="@{/article/{articleId}(articleId=${popularArticle.id})}">
                    <img src="images/logo.png" th:src="${popularArticle.thumbnailUrl}"
                         class="w-100 vh-100 cover main-image" alt="...">
                    <div class="card-img-overlay text-white text-center row justify-content-center align-content-center text-shadow">
                        <h1 th:text="${popularArticle.title}">첫번째 게시물</h1>
                        <h5 th:text="|작성일 : ${#temporals.format(popularArticle.createDate, 'yyyy-MM-dd HH:mm')}|">
                            작성일</h5>
                    </div>
                </a>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselForMain"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselForMain"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>

    </div>

    <hr class="py-1" style="color: rgb(212, 200, 184);">

    <div class="mt-5 pt-2 popular-card-section ">
        <div class="post-slider">
            <h1 class="text-center">인기 포스팅</h1>
            <hr>

            <i class="fas fa-chevron-left prev"></i>
            <i class="fas fa-chevron-right next"></i>
            <div class="post-wrapper">

                <div class="post carousel-item mainItem"
                     th:each="popularArticle, num : ${popularArticleResponse}"
                     th:classappend="${num.index} == 0 ? 'active'">
                    <a th:href="@{/article/{articleId}(articleId=${popularArticle.id})}">
                        <img src="images/logo.png" th:src="${popularArticle.thumbnailUrl}"
                             class="slider-image" alt="...">
                        <div class="post-info text-center mt-2">
                            <p class="text-truncate mb-0 fw-bold" th:text="${popularArticle.title}">첫번째 게시물</p>
                            <div class="post-day text-center">
                                <small><small th:text="${#temporals.format(popularArticle.createDate, 'yyyy-MM-dd HH:mm')}">작성일</small></small>
                            </div>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>

    <hr class="py-1 mt-5" style="color: rgb(212, 200, 184);">

    <div class="recent-cards mt-5 ms-4 me-4">

        <div class="cards-container container p-0" id="infiniteScrollBox">
            <h1 class="text-center">최신 포스팅</h1>
            <hr>
            <!--     infinityScroll     -->
            <div id="autoScroll"></div>
        </div>
    </div>
</section>

<!-- Slick Carousel -->
<script src="/js/index.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</html>