<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout :: layout(~{::title}, ~{::section}, ~{::script})}">

<title>Login</title>

<section  class="login-section">

    <div class=""></div>

    <div class="card container login-box">
        <P class="text-center alert" id="capsAlert">로그인 오류</P>
        <div class="d-flex flex-column card-body align-items-center justify-content-center">
            <h5>
                SNS 간편 가입/로그인
            </h5>

            <hr/>
            <div class="col m-2">
                <a href="/oauth2/authorization/google">
                    <button class="btnCtm btn-google">구글 로그인</button>
                </a>
            </div>
        </div>
    </div>

</section>

<script></script>

</html>