<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/layout :: layout(~{::title}, ~{::section}, ~{::script})}">

<title>Login</title>

<section>
    <div class="auth-content">
        <form action="login.html" method="post">
            <h2 class="form-title">Login</h2>

            <div>
                <label>Username</label>
                <input type="text" name="username" id="username" class="text-input">
            </div>

            <div>
                <label>Password</label>
                <input type="password" name="password" id="password" class="text-input">
            </div>

            <div>
                <button type="submit" name="login-btn" class="btn btn-big">Register</button>
            </div>

            <p>Or <a href="register.html">Sign Up</a></p>

        </form>
    </div>
</section>

<script></script>

</html>