<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap5 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Document</title>
</head>
<body>
<div class="col justify-content-center my-1 mx-0">
    <form method="POST" onsubmit="return checkComment(event)" id="commentForm">
        <th:block th:each="list : ${categoryList.list}">
        <!-- 입력 영역 -->
        <div class="row g-9 ms-3 mt-3 me-5" id="list-a">


            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Recipient\'s username"
                       th:value="${list.parentCategory}" aria-label="Recipient\'s username" aria-describedby="button-addon2" readonly>
                <button class="btn btn-outline-secondary" type="button">수정</button>
                <button class="btn btn-outline-secondary" type="button" id="elem2" th:id="${list.num}" th:onclick="|addCategory(${list.num})|">추가</button>
                <button class="btn btn-outline-secondary" type="button" id="elem1">삭제</button>
            </div>
            <div class="input-group mb-3 ms-5" th:each="childs : ${list.child}">
                <input type="text" class="form-control" style="width: 80%" placeholder="Recipient\'s username"
                       th:value="${childs}" aria-label="Recipient\'s username" aria-describedby="button-addon2">
                <button style="width: 10%" class="btn btn-outline-secondary" type="button">확인
                </button>
                <button style="width: 10%" class="btn btn-outline-secondary" type="button">취소
                </button>
            </div>

        </div>
        </th:block>

    </form>
</div>
<!-- JQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script th:inline="javascript">
    // let element = document.getElementById("elem2");
    let element2 = document.getElementById("elem1");

    // element.onclick = function(event) {
    //
    //     let a = '';
    //     a += '        <div class="input-group mb-3 ms-5">\n' +
    //         '            <input type="text" class="form-control" style="width: 80%" placeholder="Recipient\'s username" aria-label="Recipient\'s username" aria-describedby="button-addon2">\n' +
    //         '            <button style="width: 10%" class="btn btn-outline-secondary" type="button" id="button-addon2">확인</button>\n' +
    //         '            <button style="width: 10%" class="btn btn-outline-secondary" type="button" id="button-addon2">취소</button>\n' +
    //         '        </div>'
    //     let parentNode = element.parentNode.parentNode;
    //     $(parentNode).append(a);
    // }

    element2.onclick = function (event) {

        let node = element2.parentNode.parentNode;

        while (node.hasChildNodes()) {
            node.removeChild(
                node.firstChild
            );
        }
    };

    function addCategory(num) {
        let element = document.getElementById(num);
        let a = '';
        a += '        <div class="input-group mb-3 ms-5">\n' +
            '            <input type="text" class="form-control" style="width: 80%" placeholder="Recipient\'s username" aria-label="Recipient\'s username" aria-describedby="button-addon2">\n' +
            '            <button style="width: 10%" class="btn btn-outline-secondary" type="button" id="button-addon2">확인</button>\n' +
            '            <button style="width: 10%" class="btn btn-outline-secondary" type="button" id="button-addon2">취소</button>\n' +
            '        </div>'
        let parentNode = element.parentNode.parentNode;
        $(parentNode).append(a);
    }



</script>
</body>
</html>