<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/adminLayout :: adminLayout(~{::title}, ~{::section}, ~{::script})}">


<title>JDong's Blog</title>

<!-- Admin Page Wrapper -->
<section class="admin-wrapper">

    <!-- Left Siderbar -->
    <div class="left-sidebar">
        <ul>
            <li><a href="../posts/index.html">Manage Posts</a></li>
            <li><a href="../user/userList.html">Manage Users</a></li>
            <li><a href="index.html">Manage Topics</a></li>
        </ul>

    </div>
    <!-- // Left Sidebar End -->


    <!-- Admin Content -->
    <div class="admin-content">
        <div class="button-group">
            <a href="create.html" class="btn btn-big">Add Topic</a>
            <a href="index.html" class="btn btn-big">Manage Topics</a>
        </div>

        <div class="content">
            <h2 class="page-title">Add Topic</h2>

            <form action="create.html" method="post">
                <div>
                    <label>Name</label>
                    <input type="text" name="name" id="name" class="text-input">
                </div>

                <div>
                    <label>Description</label>
                    <textarea name="description" id="body"></textarea>
                </div>

                <div>
                    <button type="submit" class="btn btn-big">Add Topic</button>
                </div>
            </form>
        </div>
    </div>
    <!-- // Admin Content End -->
</section>
<!-- // Page Wrapper End -->

<script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/ckeditor.js"></script>
</html>