<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{/layout/adminLayout :: adminLayout(~{::title}, ~{::section}, ~{::script})}">


<title>JDong's Blog</title>

<!-- Admin Page Wrapper -->
<section>
    <div style="margin-bottom: 100px"></div>

    <div class="container">
        <h1 class="text-center">카테고리 편집</h1>
        <hr class="mb-5">
        <form action="parentCategoryList.html" th:action th:object="${categoryListDto}" method="post">
            <div class="col justify-content-center my-1 mx-0" id="list">
                <!-- 입력 영역 -->
                <th:block th:each="list, s : ${categoryListDto.parentCategoryLists}">
                    <div class="row g-9 ms-3 mt-3 me-5" th:id="'category-list'+${s.count}">

                        <!--                        <div th:text="${s}"></div>-->
                        <!--                        <div th:text="${s.index}"></div>-->
                        <div class="input-group mb-3" th:id="'parent'+${s.count}">
                            <input type="text" class="form-control"
                                   th:field="|${categoryListDto.parentCategoryLists[__${s.index}__].parentCategory}|"
                                   th:id="'category'+${s.count}" readonly>
                            <button class="btn btn-outline-secondary" type="button" th:id="'modify'+${s.count}"
                                    th:onclick="|modifyParentCategory(${s.count})|">수정
                            </button>
                            <button class="btn btn-outline-secondary" type="button" th:id="'add'+${s.count}"
                                    th:onclick="|addCategory(${s.count}, ${s.current.childCategoryLists.size()})|">추가
                            </button>
                            <button class="btn btn-outline-secondary" type="button" th:id="'delete'+${s.count}"
                                    th:onclick="|deleteParentCategory(${s.count})|">삭제
                            </button>
                        </div>
                        <div class="input-group mb-3 ms-5" th:each="childCategories, ss : ${list.childCategoryLists}"
                             th:id="'child'+${s.count}+${ss.count}">
                            <input type="text" class="form-control" style="width: 80%"
                                   th:field="|${categoryListDto.parentCategoryLists[__${s.index}__].childCategoryLists[__${ss.index}__].childCategory}|"
                                   th:id="'category'+${s.count}+${ss.count}" readonly>
                            <button style="width: 10%" class="btn btn-outline-secondary" type="button"
                                    th:id="'modify'+${s.count}+${ss.count}"
                                    th:onclick="|modifyCategory(${s.count}, ${ss.count})|">수정
                            </button>
                            <button style="width: 10%" class="btn btn-outline-secondary" type="button"
                                    th:id="'delete'+${s.count}+${ss.count}"
                                    th:onclick="|deleteCategory(${s.count},${ss.count})|">삭제
                            </button>
                        </div>

                    </div>
                </th:block>
            </div>
            <div class="row justify-content-evenly mt-4 mb-1 g-0">
                <button class="btn btn-secondary" type="button" th:onclick="addParentCategory()">카테고리 추가
                </button>
            </div>
        </form>
            <div class="row justify-content-evenly mt-1 mb-5 g-0">
                <button class="btn btn-secondary" onclick="saveCategory()">저 장</button>
            </div>

    </div>

</section>
<!-- // Page Wrapper End -->
<script src="/js/csrf.js"></script>
<script th:inline="javascript">

    let count = 0;
    const categoryListDto = [[${categoryListDto}]];
    console.log(categoryListDto)


    // 부모 카테고리 삭제 시 자식 카테고리도 삭제
    function deleteParentCategory(pId) {
        let element = document.getElementById('category' + pId);
        let node = element.parentNode.parentNode;
        let count = 0;

        while (node.hasChildNodes()) {
            node.removeChild(
                node.firstChild
            );
        }
        while (categoryListDto.parentCategoryLists[pId - 1].childCategoryLists.length > count) {
            categoryListDto.parentCategoryLists[pId - 1].childCategoryLists[count++].deleteCheck = true;
        }
        categoryListDto.parentCategoryLists[pId - 1].deleteCheck = true;
        console.log(categoryListDto);
    };

    // 자식 카테고리 삭제
    function deleteCategory(pId, cId) {
        document.getElementById('child' + pId + cId).remove();
        console.log(pId, cId);
        categoryListDto.parentCategoryLists[pId - 1].childCategoryLists[cId - 1].deleteCheck = true;
        console.log(categoryListDto.parentCategoryLists[pId - 1].childCategoryLists[cId - 1]);
        console.log(categoryListDto);

    };

    // 부모 카테고리 추가
    function addParentCategory() {
        let length = categoryListDto.parentCategoryLists.length;
        console.log(length);
        let arr = new Array();
        // arr[0] = {
        //     id : null,
        //     childCategory: '',
        //     deleteCheck: true
        // };
        categoryListDto.parentCategoryLists[length] = {
            id : null,
            parentCategory: '',
            childCategories: arr,
            deleteCheck: false

        };
        console.log(categoryListDto);


        let a = '';
        a += '                    <div class="row g-9 ms-3 mt-3 me-5" id="category-list' + (length + 1) + '">\n' +
            '                        <div class="input-group mb-3" id="parent' + (length + 1) + '">\n' +
            '                            <input type="text" class="form-control"\n' +
            '                                   id="category' + (length + 1) + '" value="" readonly>' +
            '                            <button class="btn btn-outline-secondary" type="button" id="modify' + (length + 1) + '"\n' +
            '                                    onclick="modifyParentCategory(' + (length + 1) + ')">수정\n' +
            '                            </button>\n' +
            '                            <button class="btn btn-outline-secondary" type="button" id="add' + (length + 1) + '"\n' +
            '                                    onclick="addCategory(' + (length + 1) + ', 0)">추가\n' +
            '                            </button>\n' +
            '                            <button class="btn btn-outline-secondary" type="button" id="delete' + (length + 1) + '"\n' +
            '                                    onclick="deleteParentCategory(' + (length + 1) + ')">삭제\n' +
            '                            </button>\n' +
            '                        </div>\n' +
            '                    </div>';

        console.log('=====' + length);
        if (length == 0) {
            $(document.getElementById("list")).append(a);
        } else {
            $(document.getElementById("category-list" + length)).after(a);
        }


    }

    // 자식 카테고리 추가
    function addCategory(pId, childSize) {
        // count++;
        let num = categoryListDto.parentCategoryLists[pId - 1].childCategoryLists.length;
        num++;
        console.log('=======' + num);
        let element = document.getElementById('add' + pId);
        let lastElementChild = element.parentNode.parentNode.lastElementChild.cloneNode(true);

        console.log(element.parentNode.parentNode.lastElementChild.id);
        console.log('=================');

        if (element.parentNode.parentNode.lastElementChild.id == 'parent' + pId) {
            let parentNode = element.parentNode.parentNode;
            let a = '';
            a += '            <div class="input-group mb-3 ms-5" id="child' + pId + num + '">\n' +
                '                <input type="text" class="form-control" style="width: 80%"\n' +
                '                       id="category' + pId + num + '" name="parentList[' + (pId - 1) + '].childCategories[' + (num - 1) + ']">\n' +
                '                <button style="width: 10%" class="btn btn-outline-secondary" type="button" id="modify' + pId + num + '" onclick="modifyCategory(' + pId + ',' + num + ')">확인</button>\n' +
                '                <button style="width: 10%" class="btn btn-outline-secondary" type="button" id="delete' + pId + num + '" onclick="deleteCategory(' + pId + ',' + num + ')">삭제</button>\n' +
                '            </div>';
            $(parentNode).append(a);
        } else {
            console.log('else = ' + count);
            console.log('num2 = ' + num);

            lastElementChild.setAttribute('id', 'child' + pId + num);

            let htmlInputElement = document.createElement('input');
            htmlInputElement.setAttribute('class', 'form-control');
            htmlInputElement.setAttribute('style', 'width: 80%');
            htmlInputElement.setAttribute('id', 'category' + pId + num);
            htmlInputElement.setAttribute('name', 'parentList[' + (pId - 1) + '].childCategories[' + (num - 1) + ']');
            htmlInputElement.readOnly = false;

            let htmlButtonElement = document.createElement('button');
            htmlButtonElement.setAttribute('style', 'width: 10%');
            htmlButtonElement.setAttribute('class', 'btn btn-outline-secondary');
            htmlButtonElement.setAttribute('id', 'modify' + pId + num);
            htmlButtonElement.setAttribute('type', 'button');
            htmlButtonElement.setAttribute('onclick', 'modifyCategory(' + pId +', ' + num + ')');
            htmlButtonElement.innerHTML = '확인';

            let deleteElement = document.createElement('button');
            deleteElement.setAttribute('style', 'width: 10%');
            deleteElement.setAttribute('class', 'btn btn-outline-secondary');
            deleteElement.setAttribute('id', 'delete' + pId + num);
            deleteElement.setAttribute('type', 'button');
            deleteElement.setAttribute('onclick', 'deleteCategory(' + pId + ',' + num + ')');
            deleteElement.innerHTML = '삭제';


            lastElementChild.replaceChild(htmlInputElement, lastElementChild.childNodes[1]);
            lastElementChild.replaceChild(htmlButtonElement, lastElementChild.childNodes[3]);
            lastElementChild.replaceChild(deleteElement, lastElementChild.childNodes[5]);
            console.log(lastElementChild.childNodes);
            console.log(lastElementChild);


            element.parentNode.parentNode.appendChild(lastElementChild);

        }
        categoryListDto.parentCategoryLists[pId - 1].childCategoryLists[--num] = {
            id: null,
            childCategory: '',
            deleteCheck: false
        };
    }

    function modifyParentCategory(id) {
        let elem = document.getElementById('category' + id);
        let buttonElem = document.getElementById('modify' + id);

        console.log(categoryListDto.parentCategoryLists[id - 1]);

        if (buttonElem.innerText === '수정') {
            elem.readOnly = false;
            buttonElem.innerHTML = '확인';
        } else {
            elem.readOnly = true;
            categoryListDto.parentCategoryLists[id - 1].parentCategory = elem.value;
            console.log(categoryListDto.parentCategoryLists[id - 1]);
            buttonElem.innerHTML = '수정';
        }
    }

    function modifyCategory(pId, cId) {
        let elem = document.getElementById('category' + pId + cId);
        let buttonElem = document.getElementById('modify' + pId + cId);
        categoryListDto.parentCategoryLists[pId - 1].childCategoryLists[cId - 1].childCategory = elem.value;

        console.log(categoryListDto.parentCategoryLists[pId - 1].childCategoryLists[cId - 1]);
        if (buttonElem.innerText === '수정') {
            elem.readOnly = false;
            buttonElem.innerHTML = '확인';
        } else {
            elem.readOnly = true;
            buttonElem.innerHTML = '수정';
        }

    }
    function saveCategory(){

        let token = getCsrfToken();

        $.ajax({
            type: 'POST',
            url: '/admin/categories',
            headers : { 'X-XSRF-TOKEN': token},
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify(categoryListDto)
        }).done(function () {
            alert('변경 내용 저장 완료.');
            window.location.href = '/admin/categories';
        }).fail(function (error) {
            alert(JSON.stringify(error));
        });

    }

</script>
</html>